<!-- index.html -->
<!doctype html>

<!-- ASSIGN ANGULAR MODULE -->
<html ng-app="sogedesApp">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Sogedes App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->
    <style>
        html {
            overflow-y: scroll;
        }

        body {
            padding-top: 50px;
        }
    </style>

    <!-- SPELLS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">

    <div class="container">

        <div ng-hide="isTableVisible" class="jumbotron text-center">
            <h3>Click to get directories list
            </h3>
        </div>

        <div ng-hide="!isTableVisible" class="jumbotron text-center">
            <h3>Directories Table
            </h3>
        </div>

        <!-- GET BUTTON -->
        <div align="center">
            <button ng-hide="isTableVisible" type="submit" class="btn btn-primary btn-lg"
                ng-click="getDirectories()">Get</button>
        </div>

        <!-- TABLE STYLE -->
        <style>
            table,
            td,
            th {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>

        <!-- RESPONSIVE TABLE -->
        <div ng-hide="!isTableVisible" class="table-responsive">
            <table align="center" ng-hide="!isTableVisible" id="table_id" class="table">

                <tr>
                    <td><input ng-model="filtering.l1" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.l2" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.name" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.date" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.type" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.change" size="12" placeholder="Filter column"></td>
                    <td><input ng-model="filtering.size" size="12" placeholder="Filter column"></td>
                </tr>

                <tr style="background-color:#f5eeee">
                    <th>Level1
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='l1'; reverse=false "></i>
                        <i class="fa fa-caret-up" style="font-size:15px" ng-click=" sorting ='l1'; reverse=true "></i>
                    </th>
                    <th>Level2
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='l2'; reverse=false  "></i>
                        <i class="fa fa-caret-up" style="font-size:15px" ng-click=" sorting ='l2'; reverse=true  "></i>
                    </th>
                    <th>Name
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='name'; reverse=false "></i>
                        <i class="fa fa-caret-up" style="font-size:15px" ng-click=" sorting ='name'; reverse=true "></i>
                    </th>
                    <th>Date
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='date'; reverse=false  "></i>
                        <i class="fa fa-caret-up" style="font-size:15px"
                            ng-click=" sorting ='date'; reverse=true  "></i>

                    </th>
                    <th>Type
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='type'; reverse=false  "></i>
                        <i class="fa fa-caret-up" style="font-size:15px"
                            ng-click=" sorting ='type'; reverse=true  "></i>
                    </th>
                    <th>Changed
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='change'; reverse=false"></i>
                        <i class="fa fa-caret-up" style="font-size:15px"
                            ng-click=" sorting ='change'; reverse=true"></i>
                    </th>
                    <th>Size
                        <i class="fa fa-caret-down" style="font-size:15px"
                            ng-click=" sorting ='size'; reverse=false  "></i>
                        <i class="fa fa-caret-up" style="font-size:15px"
                            ng-click=" sorting ='size'; reverse=true  "></i>
                    </th>
                </tr>

                <!-- SORTING AND FILTERING TABLE -->
                <tr ng-repeat="row in tableRows | orderBy:sorting:reverse | filter:filtering ">
                    <td>{{ row.l1 }}</td>
                    <td> {{ row.l2}} </td>
                    <td>{{ row.name }}</td>
                    <td> {{ row.date}} </td>
                    <td>{{ row.type }}</td>
                    <td> {{ row.change}} </td>
                    <td>{{ row.size }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>